.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#4F6F52;
    padding: .6rem 3rem;
    transition: 0.5s;
    font-size: 1.3rem;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.logo{ /* Convert 160px to rem */
    cursor: pointer;
}

#logo-icon{
    width:60px;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
    color: #ECE3CE;
}

ul li {
    display: inline-block;
    margin: 1.25rem; /* Convert 10px to rem */
    font-size: 1.4rem; /* Convert 18px to rem */
    cursor: pointer;
}

.nav-links>li:hover{
    border-bottom: 2px solid;
}

.toggle-icon {
    width: 3.125rem; /* Convert 50px to rem */
    cursor: pointer;
    margin-left: 0.3125rem; /* Convert 5px to rem */
    font-size: 2rem;
}

.icons-nav{
    display: flex;
    align-items: center;
}

#logo-icon-right{
    width: 30px;
    padding: 1rem;
}

#logo-icon-right:hover{
    scale: 125%;
    transition:.09s linear  ;
}

/* .search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 0.625rem 1.25rem; 
    border-radius: 3.125rem; 
    margin-left: 0.625rem; 
}

.search-box input {
    padding: 0.375rem; 
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    max-width: 12.5rem; 
}

.search-box input::placeholder {
    color: #fff;
}

.search-box img {
    width: 1.25rem; 
    cursor: pointer;
}

.dark .navbar {
    background: #000;
    color: #fff;
}

.dark .search-box {
    background: #fff;
}

.dark .search-box input {
    color: #222;
}

.dark .search-box input::placeholder {
    color: #222;
} */
