.shop{
    display: flex;
}

.cart-options{
    margin: .5rem 1.25rem;
    display: flex;
    align-items: center;
}
.search-box {
    display: flex;
    align-items: center;
    background: #4F6F52;
    padding: 0.6rem 1.25rem; 
    border-radius: 3rem; 
    margin: 1rem;
    color: #ECE3CE;
    background-image: url("assets/search-w.png");
    background-position:120px; 
    background-size: 10%;
    background-repeat: no-repeat; ;
}

/* .search-box input {
    padding: 0.375rem; 
    background: transparent;
    border: 0;
    outline: 0;
    color: #ECE3CE;
    max-width: 12.5rem;
    
} */

::placeholder {
    color: #aea899;
}

.filters{
    padding: 0.6rem 1.25rem; 
    border-radius: 3rem;
    border:solid #4F6F52;
    margin: 0rem .5rem;
}

